@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&family=Noto+Serif+TC:wght@200;300;400;500;600;700;900&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
}

.wrap {
    width: 100%;
    height: auto;
    font-family: 'Noto Sans TC', sans-serif;
    padding: 0;
}

img {
    width: 100%;
    height: auto;
}

/* ---------導覽--------- */
.nav {
    max-width: 1920px;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0px;
    z-index: 999;
    justify-content: space-between; 
    background-color: #fff;
}

.nav a img {
    float: left;
    width: 100px;
    padding: 10px;
    margin-left: 30px;
}

.navimg {
    text-decoration: none;
    float: left;
    display: flex;
    align-items: center;
    width: 20%;
}

.navimg:hover {
    opacity: .8;
}

.navimg h1 {
    color: #28292B;
    font-family: 'Roboto Slab';
    font-size: 3vmin;
    font-weight: bold;
    letter-spacing: 2px;
    line-height: 100px;
    margin-left: 55px; 
}

.nav ul {
    display: flex;
    max-width: 1050px;
    width: 100%;
    float: right;
    margin: 1vmin 0;
}

.nav ul li {
    list-style: none;
    padding: 1.8vmin 2vmin;
    width: 30vmin;
}



.nav ul li a {
    text-decoration: none;
    font-size: 2.8vmin;
    color: #28292B;
    font-weight: 450;
    letter-spacing: 3px;
    width: 300px;
    background-image: linear-gradient(#28292b46, #28292b46);
    background-position: left center;
    background-size: 0 40px;
    background-repeat: no-repeat;
    transition: 0.15s;
    border-radius: 60px;
    padding: 0 8px;
}

.nav ul li a:hover {
    background-size: 100% 40px;
    color: #28292B;
}

.nav .active, .site-menu .active{
    border-radius: 60px;
    padding: 0 8px;
    background-size: 100% 40px;
    background-color: #28292b46;
}


@media (max-width:1400px) {
    .nav {
        position: fixed;
        top: 0px;
        z-index: 999;
        display: none;
    }
}

/* 小尺寸 */
.navimg_small img {
    float: left;
    width: 80%;
    padding: 2px;
    margin-left: 30px;
}

.navimg_small {
    display: block;
    text-decoration: none;
    float: left;
    display: flex;
    align-items: center;
}

.navimg_small:hover {
    opacity: .8;
}

.navimg_small h1 {
    color: #28292B;
    font-family: 'Roboto Slab';
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 2px;
    line-height: 85px;
    margin-left: 30px;
}


.site-nav {
    height: auto;
    background-color: #fff;
    display: none;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 8;
}

@media (max-width:1400px) {
    .site-nav {
        display: block;
    }
}

@media (max-width:576px) {
    .navimg_small img {
        width: 70%;
    }

    .navimg_small h1 {
        line-height: 75px;
        font-size: 5vmin;
        margin-left: 20px;
    }

    .underline {
        font-size: 16px;
    }
}

.underline {
    font-size: 2.8vmin;
    text-decoration: none;
    color: #28292B;
    font-weight: 600;
    letter-spacing: 3px;
    background-image: linear-gradient(#28292b46, #28292b46);
    background-position: left center;
    background-size: 0 40px;
    background-repeat: no-repeat;
    transition: 0.15s;
    border-radius: 60px;
    padding: 0 8px;
}

@media (max-width:576px) {
    .underline {
        font-size: 18px;
    }
}

.underline:hover {
    background-size: 100% 40px;
    color: #28292B;
}

.site-menu {
    position: absolute;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    top: 0;
    right: 0;
    width: 40vmin;
    height: 100%;
    padding: 50px 30px;
    background-color: #fff;
    transition: all 600ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateX(100%);
    will-change: transform;
    box-shadow: 3px 3px 10px #28292b46;
    position: fixed;
    z-index: 9;
}

@media (max-width:576px) {
    .site-menu {
        width: 60vmin;
    }
}

.site-menu ul {
    margin: 0 auto;
    list-style-type: none;
}

.site-menu ul li {
    padding: 20px 30px;
}

/* checkbox */
#site-menu-trigger {
    z-index: 10;
    display: none;
    height: 30px;
}

/* 選單出現動畫 */
#site-menu-trigger:checked~.site-menu {
    transform: translateX(0%);
}

/* 漢堡動畫 */
#site-menu-trigger:checked~label[for=site-menu-trigger] {
    transform: translateX(-8px) scale(1.05);
}

#site-menu-trigger:checked~label[for=site-menu-trigger] .line:nth-child(1) {
    transform: rotate(45deg) translateX(10px);
}

#site-menu-trigger:checked~label[for=site-menu-trigger] .line:nth-child(2) {
    width: 0;
}

#site-menu-trigger:checked~label[for=site-menu-trigger] .line:nth-child(3) {
    transform: rotate(-45deg) translateX(10px);
}


/* 漢堡 */
#site-menu-trigger~label[for=site-menu-trigger] {
    display: block;
    right: 5vmin;
    top: 4vmin;
    z-index: 10;
    position: absolute;
    width: 25px;
    height: 25px;
}

#site-menu-trigger~label[for=site-menu-trigger] .line {
    display: block;
    content: "‍";
    position: absolute;
    width: 25px;
    height: 3px;
    background-color: #28292B;
    transition: all 200ms linear;
}

#site-menu-trigger~label[for=site-menu-trigger] .line:nth-child(1) {
    top: 0;
}

#site-menu-trigger~label[for=site-menu-trigger] .line:nth-child(2) {
    top: 7px;
}

#site-menu-trigger~label[for=site-menu-trigger] .line:nth-child(3) {
    top: 14px;
}

@media (max-width:390px) {
    #site-menu-trigger~label[for=site-menu-trigger] {
        right: 8vmin;
        top: 8vmin;
    }
}

/* ---------banner--------- */
.center-block {
    display: table;
    height: 50vh;
    width: 100%;
    background: url("../images/banner_product.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    background-position: 50% 50%;
    margin-top: 100px;
    background-color: rgba(0, 0, 0, .3);
    background-blend-mode: multiply;
}

.wpf {
    color: white;
    font-size: 4vmin;
    letter-spacing: 3px;
    font-weight: 450;
    display: table-cell;
    position: relative;
    text-align: center;
    vertical-align: middle !important;
}

.wpf:before,
.wpf:after {
    content: "";
    position: absolute;
    top: 50%;
    background: #fff;
    width: 13%;
    height: 1.3px;
    right: 30%;
}

.wpf:after {
    left: 30%;
}

@media (max-width:1400px) {
    .center-block {
        margin-top: 90px;
    }
    .wpf:before,
    .wpf:after {
        display: none;
    }
}


@media (max-width:576px) {
    .center-block {
        margin-top: 80px;
    }
}

/* ---------麵包屑--------- */
.breadcrumb {
    margin-top: -60px;
    float: right;
}

.breadcrumb ol {
    display: flex;
    padding: 0 2vmin;
}

.breadcrumb ol li {
    padding: 20px 10px 20px 0px;
}

.fa-solid {
    color: #FFF;
    position: relative;
    padding: 5px 0px 0;
}

.breadcrumb .arrow {
    padding: 20px 10px 0 0px;
    width: auto;
    display: block;
    color: white;
}

.breadcrumb ol li a {
    display: flex;
    text-decoration: none;
    color: #FFF;
    white-space: nowrap;
}

.breadcrumb li:last-child a,
.breadcrumb a:hover,
.fa-solid:hover {
    color: #FFF;
    /* padding: 2px 2px; //點擊動畫 */
}

/* ---------內容設定--------- */
.container {
    padding-bottom: 0px;
    flex-wrap: nowrap;
    max-width: 1920px;
    width: 100%;
    display: flex;
}

.product {
    width: 85%;
    height: auto;
    margin: 10vmin 0 50px auto;
    padding-bottom: 100px;
}

/* ---------商品列表--------- */
.panel-group {
    width: 100%;
    margin: 0 auto;
}

.panel-control {
    opacity: 0;
}

.tab-group label {
    display: inline-block;
    padding: 10px 30px;
    border: 1px solid #ccc;
    bottom: -1px;
    position: relative;
    text-align: center;
    font-size: 1.8vmin;
    font-weight: bold;
    color: #999cab;
    letter-spacing: 1.2px;
    margin-right: 15px;
    background-color: rgb(250, 250, 250);
    background-image: linear-gradient(#282928, #282928);
    background-position: left center;
    background-size: 0 100%;
    background-repeat: no-repeat;
    transition: 0.5s;
}

.tab-group label:hover {
    cursor: pointer;
    background-size: 100% 100%;
    color: white;
}

.content-group1,
.content-group2,
.content-group3,
.content-group4 {
    padding: 20px;
    display: none;
}

#radio1:checked~.tab-group [for="radio1"],
#radio2:checked~.tab-group [for="radio2"],
#radio3:checked~.tab-group [for="radio3"],
#radio4:checked~.tab-group [for="radio4"] {
    color: white;
    background-size: 100% 100%;
}

#radio1:checked~.content-group1,
#radio2:checked~.content-group2,
#radio3:checked~.content-group3,
#radio4:checked~.content-group4 {
    border: 1px solid #ccc;
    display: block;
}

.content {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    flex-wrap: wrap
}

.content a {
    width: 30%;
    overflow: hidden;
    margin-bottom: 30px;
    text-decoration: none;
}

.content a img {
    width: 100%;
}

.content a:hover {
    transform: scale(1.03, 1.03);
    transition: all .5s ease-out;
}

.content a p {
    color: #282928;
    font-size: 1.8vmin;
    letter-spacing: 2px;
    font-weight: medium;
    text-indent: .5em;
}

.content a span {
    display: block;
    color: #282928;
    font-size: 1.8vmin;
    letter-spacing: 2px;
    font-weight: medium;
    text-indent: .5em;
}

@media (max-width:1400px) {
    .tab-group label {
        width: 99.8%;
        display: inline-block;
        padding: 10px 0px;
        border: 1px solid #ccc;
        bottom: -1px;
        position: relative;
        text-align: center;
        font-size: 1.8vmin;
        font-weight: bold;
        color: #999cab;
        letter-spacing: 1.2px;
        margin-right: 15px;
        background-color: rgb(250, 250, 250);
        background-image: linear-gradient(#282928, #282928);
        background-position: left center;
        background-size: 0 100%;
        background-repeat: no-repeat;
        transition: 0.5s;
    }

    .content a {
        width: 49%;
    }
}

@media (max-width:758px) {
    .content a {
        width: 100%;
    }
}

/* ---------light box--------- */
/* Pure CSS3 Lightbox start */

.lightbox-target {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.5);
    opacity: 0;
    overflow: hidden;
    z-index: 999;
}


.lightbox-target:target {
    opacity: 1;
    top: 0;
    bottom: 0;
}

.lightbox-target:target .content {
    max-height: 100%;
    max-width: 100%;
}

.lightbox-close {
    display: block;
    width: 50px;
    height: 50px;
    position: relative;
    top: 15%;
    left: 79%;
}

.lightbox-close .fa-solid{
    color: #282928;
    font-size: 3vmin;
}

.lightbox-target .content {
    width: 60%;
    height: 60%;
    background: #fff;
    color: #333;
    margin: auto;
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 0;
    max-height: 0%;
    max-width: 0%;
    display: flex;
    padding: 80px 20px;
    justify-content: space-evenly;
    align-items: center;
}

.lightbox-target:target img {
    width: 100%;
}

.text {
    width: 40%;
    letter-spacing: 2px;
    color: #282928;
    font-weight: 550;
}

.text h3 {
    font-size: 2.8vmin;
    margin: 0 0 10px;
}

.text span {
    display: block;
    font-size: 2vmin;
}

.text .desc {
    font-size: 2.2vmin;
    margin: 15px 0;
    text-align: justify;
}

.text .info {
    padding: 0;
    display: flex;
    justify-content: space-between;
    font-size: 2.2vmin;
}

.text .info .data {
    width: 40%;
}

.text .info .data p {
    text-align: right;
    font-size: 2.2vmin;
}

@media (max-width:1600px) {
    .lightbox-target .content {
        display: block;
        text-align: center;
        /* padding-bottom: 10vmin;  */
    }

    .lightbox-target:target img {
        width: 30%;
    }

    .text {
        margin: 2vmin auto;
        width: 80%;
    }

    .text h3 {
        font-size: 2.5vmin;
    }

    .text span {
        font-size: 1.5vmin;
    }

    .text .desc {
        font-size: 2vmin;
    }

    .text .info {
        font-size: 1.8vmin;
    }

    .text .info .data p {
        font-size: 1.8vmin;
    }
    .item p{
        text-align: left;
    }
}

@media (max-width:1100px) {
    .lightbox-target .content {
        display: block;
        text-align: center;
        /* padding-bottom: 10vmin;  */
        height: 55%;
    }
    .lightbox-close {
        top: 17%;
    }
    .lightbox-target:target img {
        width: 35%;
    }
}

@media (max-width:800px) {
    .lightbox-target .content {
        display: block;
        text-align: center;
        /* padding-bottom: 10vmin;  */
        height: 50%;
    }
    .lightbox-close {
        top: 20%;
    }
    .lightbox-target:target img {
        width: 40%;
    }
}

@media (max-width:576px) {
    .lightbox-target .content {
        display: block;
        text-align: center;
        /* padding-bottom: 10vmin;  */
        height: 55%;
    }
    .lightbox-close {
        top: 17%;
    }
    .lightbox-target:target img {
        width: 90%; 
        margin-top: -30px;
    }
}

/* ---------頁腳--------- */
.footer {
    clear: both;
    max-width: 1920px;
    width: 100%;
    background-color: #28292B;
}

.info {
    display: flex;
    padding: 80px 200px;
    align-items: center;
}

.footername {
    color: #F4F1EA;
    font-size: 40px;
    font-family: 'Roboto Slab';
    margin-left: 20px;
    font-weight: 400;
    letter-spacing: 2px;
}

.footernav {
    margin-left: 130px;
    display: flex;
    width: 500px;
    word-break: normal;
}

.secondcloumn {
    padding: 0 0 0 70px;
}

.footernav a {
    text-decoration: none;
    color: #F4F1EA;
    font-size: 30px;
    font-weight: 500;
    line-height: 2.6em;
    letter-spacing: 2px;
    background-image: linear-gradient(#28292B, #28292B);
    background-position: left bottom;
    background-size: 0 2.5px;
    background-repeat: no-repeat;
    transition: 0.15s;
}

.footernav a:hover {
    color: rgb(192, 190, 187);
}

.footercontact {
    margin-left: 35px;
    font-size: 25px;
    color: #F4F1EA;
    font-weight: 500;
    letter-spacing: 9px;
    white-space: nowrap;
    /* 強迫文字不換行 */
    line-height: 2.3em;
}


.hours {
    text-indent: 168px;
    letter-spacing: 4px;
    margin-bottom: 30px;
}

.socialmedia ul {
    display: flex;
    padding-left: 170px;
    margin-bottom: 20px;
}

.socialmedia ul li {
    margin-right: 35px;
}

.socialmedia ul li a {
    color: #F4F1EA;
    background-image: linear-gradient(#28292B, #28292B);
    background-position: left bottom;
    background-size: 0 2.5px;
    background-repeat: no-repeat;
    transition: 0.15s;
}

.socialmedia ul li a:hover {
    color: rgb(192, 190, 187);
}

@media (max-width:1750px) {
    .footer {
        width: 100%;
    }

    .footerlogo {
        margin: 0 0 0 100px;
        width: 30%;
        padding: 30px 0 30px 20px;
    }

    .info {
        display: flex;
        padding: 80px 0px 30px;
    }

    .footername {
        display: block;
        font-size: 35px;
    }

    .footernav {
        margin: 0 auto;
        width: 80%;
        display: flex;
        padding-left: 150px;
        padding-bottom: 30px;
    }

    .secondcloumn {
        padding: 0 0 0 46px;

    }

    .footernav a {
        font-size: 24px;

    }

    .footercontact {
        margin: 0 0 0 -50px;
        font-size: 20px;
        font-weight: medium;
        letter-spacing: 5px;
        width: 70%;
    }

    .time {
        padding-top: 0.5px;
    }

    .hours {
        text-indent: 105px;
        letter-spacing: 2px;
        margin-bottom: 20px;
    }

    .socialmedia ul {
        padding-left: 65px;
    }

    .socialmedia ul li {
        text-align: center;
    }

    .socialmedia ul li a {
        font-size: 22px;
    }

}

@media (max-width:1500px) {
    .footer {
        width: 100%;
    }

    .footerlogo {
        margin: 0 0 0 100px;
        width: 35%;
        padding: 30px 0 30px 20px;
    }

    .info {
        display: flex;
        padding: 80px 0px 30px;
    }

    .footername {
        display: block;
        font-size: 30px;
    }

    .footernav {
        margin: 0 auto;
        width: 80%;
        display: flex;
        padding-left: 80px;
        padding-bottom: 30px;
    }

    .secondcloumn {
        padding: 0 0 0 46px;

    }

    .footernav a {
        font-size: 20px;

    }

    .footercontact {
        margin: 0 0 0 -50px;
        font-size: 16px;
        font-weight: medium;
        letter-spacing: 5px;
        width: 70%;
    }

    .time {
        padding-top: 0.5px;
    }

    .hours {
        text-indent: 105px;
        letter-spacing: 2px;
        margin-bottom: 20px;
    }

    .socialmedia ul {
        padding-left: 65px;
    }

    .socialmedia ul li {
        text-align: center;
    }

    .socialmedia ul li a {
        font-size: 22px;
    }

}

@media (max-width:1100px) {
    .footer {
        width: 100%;
    }

    .footerlogo {
        margin: 0 auto;
        width: 20%;
        padding: 30px 0 30px 20px;
    }

    .info {
        display: block;
        padding: 0;
    }

    .footername {
        display: none;
    }

    .footernav {
        margin: 0 auto;
        width: 25%;
        display: flex;
        letter-spacing: 2px;
        padding: 0px;
        padding-bottom: 30px;
    }


    .secondcloumn {
        padding: 0 0 0 30px;

    }

    .footernav a {
        font-size: 20px;
        white-space: nowrap;
    }

    .footercontact {
        margin: 0 auto;
        font-size: 16px;
        font-weight: medium;
        letter-spacing: 5px;
        width: 25%;
        padding-left: 0px;
    }

    .time {
        padding-top: 0.5px;
    }

    .hours {
        text-indent: 105px;
        letter-spacing: 2px;
        margin-bottom: 20px;
    }

    .socialmedia ul {
        padding-left: 65px;
    }

    .socialmedia ul li {
        text-align: center;
    }

    .socialmedia ul li a {
        font-size: 22px;
    }

}

@media (max-width:576px) {
    .footer {
        width: 100%;
    }

    .footerlogo {
        margin: 0 auto;
        width: 28%;
        padding: 30px 0 30px 20px;
    }

    .info {
        display: block;
        padding: 0;
    }

    .footername {
        display: none;
    }

    .footernav {
        margin: 0 auto;
        width: 50%;
        display: flex;
        padding-bottom: 30px;
    }

    .secondcloumn {
        padding: 0 0 0 46px;

    }

    .footernav a {
        font-size: 18px;

    }

    .footercontact {
        margin: 0 auto;
        font-size: 14px;
        font-weight: medium;
        letter-spacing: 5px;
        width: 70%;
        padding-left: 00px;
    }

    .time {
        padding-top: 0.5px;
    }

    .hours {
        text-indent: 105px;
        letter-spacing: 2px;
        margin-bottom: 20px;
    }

    .socialmedia ul {
        padding-left: 65px;
    }

    .socialmedia ul li {
        text-align: center;
    }

    .socialmedia ul li a {
        font-size: 12px;
    }

}


/* ---------網頁著作權--------- */
.copyright p {
    color: #F4F1EA;
    font-size: 16px;
    text-align: center;
    padding: 5px 0;
    letter-spacing: 1px;
}
@media (max-width:1600px) {
    .copyright p {
        font-size: 12px;
        padding: 5px 0;
    }
}

/* ---------側邊選單、回到最上面--------- */

.forsticky {
    width: 8%;
    padding-left: 2.5vmin;
}

.menu {
    top: 770px;
    position: sticky;
}


.menu img {
    margin-bottom: 100px;
    max-width: 90px;
}

@media (max-width:1300px) {
    .forsticky {
        padding-left: 1vmin;
        padding-right: 1vmin;
    }
}

@media (max-width:768px) {
    .forsticky {
        width: 10%;
        padding-left: 0;
    }
}